<GridLayout rows="*,auto">
    <ListView [items]="tasks" *ngIf="!loading">
        <template let-item="item">
            <GridLayout rows="auto,auto" columns="*,*,*">
                <Label row="0" col="0" [text]="item.ScheduledTimestamp | toLocalTime | fromNow"></Label>
                <Label row="0" col="1" textWrap="true" [text]="item.ShortDescription"></Label>
                <Label row="0" col="2" [text]="item.CreatedTimestamp | toLocalTime | fromNow"></Label>
                <Label row="1" colSpan="3" [text]="item.Description" textWrap="true"></Label>
            </GridLayout>
            </template>
    </ListView>
    <ActivityIndicator *ngIf="loading" busy="true" width="100" height="100"></ActivityIndicator>
    <Label *ngIf="noTasks" text="You have no tasks requested. Check out the other sections of this app to make requests!" textWrap="true" class="no-tasks-label"></Label>
</GridLayout>