.no-tasks-label {
    horizontal-align: center;
    vertical-align: center;
    text-align: center;
    font-size: 20;
    color: black;
}

.separator {
    font-size: 18;
    color: black;
    font-weight: bold;
    horizontal-align: center;
    text-align: center;
}

.escalate-button {
    font-size: 20;
}

.praise-button {
    font-size: 20;
}
