<StackLayout modal-dialog-host>
    <Label text="Request" class="title"></Label>

    <StackLayout *ngIf="requestDetails.hasDate" orientation="horizontal">
        <Label [text]="requestDetails.dateLabel" textWrap="true"></Label>
        <Button [text]="dateInput | moment:'MMM Do YYYY'" (tap)="pickDate()" class="picker-button"></Button>
    </StackLayout>

    <StackLayout *ngIf="requestDetails.hasTime" orientation="horizontal">
        <Label [text]="requestDetails.timeLabel" textWrap="true"></Label>
        <Button [text]="timeInput | moment:'h:mm a'" (tap)="pickTime()" class="picker-button"></Button>
    </StackLayout>

    <GridLayout rows="auto" columns="*, 2*" *ngIf="requestDetails.hasText">
        <Label [text]="requestDetails.textLabel" textWrap="true"></Label>
        <TextField [(ngModel)]="textInput" col="2" returnKeyType="done"></TextField>
    </GridLayout>

    <StackLayout orientation="horizontal">
        <Button text="Cancel" (tap)="cancel()"></Button>
        <Button text="Send" (tap)="send()"></Button>
    </StackLayout>
</StackLayout>