<StackLayout>
    <ListView [items]="staff" (itemTap)="itemTapped($event)" *ngIf="!loading" #lv>
        <template let-item="item" let-i="index">
            <StackLayout>
                <StackLayout *ngIf="!item">
                    <Label [text]="task.UserID" class="title"></Label>
                    <Label [text]="task.ShortDescription" class="title"></Label>

                    <Label [text]="task.Priority" class="detail"></Label>
                    <Label [text]="task.scheduledTime" class="detail"></Label>
                    <Label [text]="task.Description" textWrap="true" class="detail"></Label>

                    <StackLayout class="note-view">
                        <Label text="Notes:" class="note-label"></Label>
                        <TextField hint="Note" [(ngModel)]="task.FollowupNotes" class="note-text-field"></TextField>
                        <Button text="Update" (tap)="updateNote(note)" class="note-update-button"></Button>
                    </StackLayout>

                    <StackLayout orientation="horizontal">
                        <Button text="Assign" (tap)="assign()" class="task-button"></Button>
                        <Button [text]="isTaskAssignedToMe? 'Unassign' : 'Take'" (tap)="isTaskAssignedToMe? unassign() : take()" class="task-button"></Button>
                        <Button [text]="task.Completed? 'Uncomplete' : 'Complete'" (tap)="task.Completed? uncomplete() : complete()" class="task-button"></Button>
                        <Button text="Message" (tap)="message()" class="task-button"></Button>
                    </StackLayout>
                </StackLayout>

                <StackLayout *ngIf="item" orientation="horizontal" [ngClass]="{ 'selected-staff': selectedCMSUserID === item.CMSUserID, 'unselected-staff': selectedCMSUserID !== item.CMSUserID}">
                    <Label [text]="item.FirstName + ' ' + item.LastName"></Label>
                </StackLayout>
            </StackLayout>
        </template>
    </ListView>
    <ActivityIndicator *ngIf="loading" busy="true" width="100" height="100"></ActivityIndicator>
</StackLayout>