.task-button {
    width: 25%;
    font-size: 12;
}

.note-view {
    width: 100%;
    padding: 10;
    background-color: #bbb;
}

.note-label {
    width: 100%;
}

.note-text-field {
    width: 100%;
}

.note-update-button {
    font-size: 14;
    width: 100%;
}

.selected-staff {
    width: 100%;
    padding: 10;
    background-color: #aaa;
}

.unselected-staff {
    width: 100%;
    padding: 10;
    background-color: #fff;
}