<ActionBar>
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"> </NavigationButton>
</ActionBar>

<StackLayout>
    <ListView [items]="offers" (itemTap)="onItemTap($event)" *ngIf="!loading" height="100%">
        <template let-item="item">
            <StackLayout>
                <Label [text]='item.OfferName' class="offerTitle"></Label>
                <Label [text]='item.OfferContent' class="offerDetail" textWrap="true"></Label>
            </StackLayout>
        </template>
    </ListView>
    <ActivityIndicator *ngIf="loading" busy="true" width="100" height="100"></ActivityIndicator>
</StackLayout>