.buttonImage {
    horizontal-align: center;
    margin: 5;
    width: 200;
    height: 75;
    background-color: #999;
    background-repeat : no-repeat;
    background-position : left center;
    background-size: contain;
}