<StackLayout>
    <ListView [items]="restaurant" *ngIf="!loading" height="100%">
        <template let-item="item">
            <StackLayout>
                <Label [text]='item.RestaurantName' class="restaurantTitle"></Label>
                <Label [text]='item.Street1' class="restaurantDetail" textWrap="true"></Label>
                <Label [text]='item.Street2' class="restaurantDetail" textWrap="true"></Label>
                <Label [text]='item.City' class="restaurantDetail" textWrap="true"></Label>
                <Label [text]='item.PostalCode' class="restaurantDetail" textWrap="true"></Label>
                <Label [text]='item.State' class="restaurantDetail" textWrap="true"></Label>
                <Label [text]='item.PhoneNumber' class="restaurantPhone" textWrap="true"></Label>
                <Label [text]='item.Fax' class="restaurantPhone" textWrap="true"></Label>
                <Label [text]='item.Websites' class="restaurantPhone" textWrap="true"></Label>
                <Label [text]='item.PhotoURL' class="restaurantLink" textWrap="true"></Label>

            </StackLayout>
        </template>
    </ListView>
    <ActivityIndicator *ngIf="loading" busy="true" width="100" height="100"></ActivityIndicator>
</StackLayout>