<ActionBar>
  <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"> </NavigationButton>
</ActionBar>

<ListView [items]="restaurant" (itemTap)="onItemTap($event)" *ngIf="!loading">
    <template let-item="item">
        <StackLayout>
            <Label [text]='item.RestaurantName' class="restaurantTitle"></Label>
            <Label [text]='item.RestaurantAddress' class="restaurantDetail" textWrap="true"></Label>
            <Label [text]='item.RestaurantURL' class="restaurantLink" textWrap="true"></Label>
            <Label [text]='item.RestaurantPhone' class="restaurantPhone" textWrap="true"></Label>
        </StackLayout>
    </template>
</ListView>

<ActivityIndicator *ngIf="loading" busy="true" width="100" height="100"></ActivityIndicator>