.header {
    color: black;
    font-size: 16;
}

.restaurantTitle {
    font-size: 24;
    color: black;
}

.restaurantDetail {
    font-size: 14;
    width: 100%;
}

.restaurantLink {
    color: darkblue;
    font-size: 14;
}

.restaurantPhone {
    font-size: 14;
    width: 100%;
}

.reserve-button {
    font-size: 16;
    font-weight: bold;
}