<StackLayout>
    <ListView [items]="chats" (itemTap)="onItemTap($event)" *ngIf="!loading">
        <template let-item="item">
            <StackLayout>
                <GridLayout rows="auto,auto" columns="2*,*" width="100%" class="list-item">
                    <Label [text]="'Guest: ' + item.guestID"></Label>
                    <Label [text]="item.lastMessageTime | fromNow" col='1'></Label>

                    <Label text="HAS NEW MESSAGES" row="1" col="0" *ngIf="chatHasNewMessage(item)"></Label>
                </GridLayout>
            </StackLayout>
        </template>
    </ListView>
	<ActivityIndicator *ngIf="loading" busy="true"></ActivityIndicator>
</StackLayout>
