<GridLayout rows="*,auto">
    <ListView [items]="events" *ngIf="!loading" height="100%">
        <template let-item="item">
            <GridLayout rows="auto,auto,auto" columns="*, 4*">
                <Label [text]="item.Subject" row="0" col="1"></Label>
                <Label [text]="item.Description" row="1" col="1"></Label>
                <Label [text]="item.StartTime | date: 'medium'" row="0" col="0" textWrap="true"></Label>
                <Label [text]="item.EndTime | date: 'medium'" row="1" col="0" textWrap="true"></Label>

                <Button text="Remove" (tap)="remove(item)" row="2" colSpan="2" *ngIf="item.Subject !== 'Dinner Reservation'"></Button>
            </GridLayout>
        </template>
    </ListView>
    <ActivityIndicator *ngIf="loading" busy="true" width="100" height="100"></ActivityIndicator>
    <Label *ngIf="noEvents" text="You have no events reserved. Check out the other sections of this app to add events!" textWrap="true"
        class="no-events-label"></Label>
</GridLayout>
