.no-events-label {
    horizontal-align: center;
    vertical-align: center;
    text-align: center;
    font-size: 20;
    color: black;
}

.title {
    font-weight: bold;
    font-size: 18;
    color: black;
}

.description {
    padding-left: 20;
    padding-right: 20;
    padding-bottom: 20;
}
